body {
	background: #fff;
	font-size: 62.5%;
	font-family: Arial, sans-serif;
	padding: 0; margin: 0;
}

.content {
	padding: 20px;
}
#drop-files {
	width: 400px;
	height: 125px;
	background: rgba(0,0,0,0.1);
	border-radius: 10px;
	border: 4px dashed rgba(0,0,0,0.2);
	padding: 75px 0 0 0;
	text-align: center;
	font-size: 2em;
	float: left;
	font-weight: bold;
	margin: 0 20px 20px 0;
}

.dropped-files {
	float: left;
	position: relative;
	width: 560px;
}

.dropped-files .image {
	height: 200px;
	width: 300px;
	border: 4px solid #fff;
	float: right;
	margin-bottom: 10px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
	background: #fff;
	border-radius: 4px;
	overflow: hidden;
}


.dropped-files .delete {
	padding: 7px 6px 4px 6px;
	border-radius: 100px;
	background: rgba(0,0,0,0.6);
	box-shadow: none;
	font-size: 1em;
	margin-left: 8px;
	color: #ffffff;
}

.dropped-files .delete:hover 
{
    color: #ffffff;
	background: rgba(0,0,0,0.8);
}


#uploaded-holder {
	width: 700px;
	height: 250px;
	float: left;
}

#loading {
	display: none;
	float: left;
	width: 100%;
	position: relative;
}

#loading-bar {
	width: 404px;
	height: 40px;
	background: #fff;
	box-shadow: 0 0 15px rgba(0,0,0,0.1);
	border-radius: 5px;
	padding: 2px;
}

.loading-color {
	width: 0%;
	height: 100%;
	-webkit-transition: all 0.1s ease-in;
	-moz-transition: all 0.1s ease-in;
	-ms-transition: all 0.1s ease-in;
	-o-transition: all 0.1s ease-in;
	transition: all 0.1s ease-in;
	border-radius: inherit;
	background-color: #4edbf1;
}

#loading-content {
	position: absolute;
	top: 15px;
	font-size: 1.2em;
	font-weight: bold;
	text-align: center;
	width: 405px;
}

#file-name-holder {
	width: 100%;
	float: left;
}

#file-name-holder h1 {
	text-align: center;
	border-bottom: 1px solid #dadada;
	padding: 20px 0;
	font-size: 3em;
	margin: 0;
}

#uploaded-files {
	background: white;
	border-radius: 5px;
	box-shadow: 0 0 15px rgba(0,0,0,0.1);
	width: 407px;
	top: 100px;
	padding: 0;
	border: 1px solid #dadada;
	max-height: 320px;
	overflow: scroll;
	color: #545454;
}

#uploaded-files li {
	padding: 10px;
	border-bottom: 1px solid #eee;
	font-size: 1.5em;
	font-weight: bold;
	line-height: 25px;
	color: #545454;
}

#uploaded-files a {
	color: #1bacbf;
}

