<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">

<title>File Upload!</title>
<script src="/scripts/jquery-1.5.1.js"></script>
<script src="/scripts/javascript.js"></script>
<link rel="stylesheet" type="text/css" href="/Content/style.css" />
<link rel="stylesheet" type="text/css" href="/Content/pacifico.css" />
@{ List<fileDrop.Models.DroppedFile> files = (List<fileDrop.Models.DroppedFile>)(ViewData["files"]); }

</head>
<body>

<div class="content">
	<div id="drop-files" ondragover="return false">
		Drop Images Here
	</div>
	
	<div id="uploaded-holder">
	    <div class="dropped-files">
        @if (files != null && files.Count > 0)
        {
            foreach (var f in files)
            {
                //iterate through loaded model and build links
                <div class="image" style="background: url('@(ViewData["image_path"] + f.FName)'); background-size: cover;" id="image-@f.id">
			        <a href="#" class="delete" id="@f.id">delete</a> +
                </div>
            
            }
        }
		</div>


	</div>
	<div id="loading">
		<div id="loading-bar">
			<div class="loading-color"> </div>
		</div>
		<div id="loading-content">Uploading file.jpg</div>
	</div>
	
</div>
</body>
</html>